# Problem 
You have a Dataframe containing customer transaction information. Each row contains details of a customer, including multiple transactions stored in a nested array structure. Your goal is to transform the data to create summary columns for each customer, such as number of transactions, total spend, and the most recent transaction date.

# ğ˜šğ˜¢ğ˜®ğ˜±ğ˜­ğ˜¦ ğ˜¥ğ˜¢ğ˜µğ˜¢
ğ˜¥ğ˜¢ğ˜µğ˜¢ = [
 (1, [{"ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜ªğ˜¥": 101, "ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜¥ğ˜¢ğ˜µğ˜¦": "2024-01-10", "ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜¢ğ˜®ğ˜°ğ˜¶ğ˜¯ğ˜µ": 50.0}, {"ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜ªğ˜¥": 102, "ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜¥ğ˜¢ğ˜µğ˜¦": "2024-02-15", "ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜¢ğ˜®ğ˜°ğ˜¶ğ˜¯ğ˜µ": 100.0}]),
 (2, [{"ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜ªğ˜¥": 103, "ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜¥ğ˜¢ğ˜µğ˜¦": "2024-03-01", "ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜¢ğ˜®ğ˜°ğ˜¶ğ˜¯ğ˜µ": 75.0}]),
 (3, [{"ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜ªğ˜¥": 104, "ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜¥ğ˜¢ğ˜µğ˜¦": "2023-12-20", "ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜¢ğ˜®ğ˜°ğ˜¶ğ˜¯ğ˜µ": 120.0}, {"ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜ªğ˜¥": 105, "ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜¥ğ˜¢ğ˜µğ˜¦": "2024-01-25", "ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜¢ğ˜®ğ˜°ğ˜¶ğ˜¯ğ˜µ": 200.0}, {"ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜ªğ˜¥": 106, "ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜¥ğ˜¢ğ˜µğ˜¦": "2024-02-10", "ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯_ğ˜¢ğ˜®ğ˜°ğ˜¶ğ˜¯ğ˜µ": 90.0}])
]

# ğ˜‹ğ˜¦ğ˜§ğ˜ªğ˜¯ğ˜¦ ğ˜´ğ˜¤ğ˜©ğ˜¦ğ˜®ğ˜¢
ğ˜¤ğ˜°ğ˜­ğ˜¶ğ˜®ğ˜¯ğ˜´ = ["ğ˜¤ğ˜¶ğ˜´ğ˜µğ˜°ğ˜®ğ˜¦ğ˜³_ğ˜ªğ˜¥", "ğ˜µğ˜³ğ˜¢ğ˜¯ğ˜´ğ˜¢ğ˜¤ğ˜µğ˜ªğ˜°ğ˜¯ğ˜´"]

# ğ˜Šğ˜³ğ˜¦ğ˜¢ğ˜µğ˜¦ ğ˜‹ğ˜¢ğ˜µğ˜¢ğ˜ğ˜³ğ˜¢ğ˜®ğ˜¦
ğ˜¥ğ˜§ = ğ˜´ğ˜±ğ˜¢ğ˜³ğ˜¬.ğ˜¤ğ˜³ğ˜¦ğ˜¢ğ˜µğ˜¦ğ˜‹ğ˜¢ğ˜µğ˜¢ğ˜ğ˜³ğ˜¢ğ˜®ğ˜¦(ğ˜¥ğ˜¢ğ˜µğ˜¢, ğ˜¤ğ˜°ğ˜­ğ˜¶ğ˜®ğ˜¯ğ˜´)

## Expected Outcome:
+-----------+-----------------+------------------------+--------------------+
|customer_id|transaction_count|total_transaction_amount|max_transaction_date|
+-----------+-----------------+------------------------+--------------------+
|          1|                2|                   150.0|          2024-02-15|
|          2|                1|                    75.0|          2024-03-01|
|          3|                3|                   320.0|          2024-12-20|
+-----------+-----------------+------------------------+--------------------+

In [0]:
from pyspark.sql.types import StringType, StructField, StructType, ArrayType, FloatType, Inter
from pyspark.sql.functions import explode, col, count, sum, max

In [0]:
transaction_schema = ArrayType(
  StructType().add(field = 'transaction_id',data_type=IntegerType())\
    .add(field='transaction_date', data_type=StringType())\
      .add(field='transcation_amount', data_type=FloatType())
)

In [0]:
schema = StructType().add(field= 'customer_id',data_type=IntegerType())\
  .add(field = 'transactions',data_type = transaction_schema)

In [0]:
data = [
  (1, [{'transaction_id':101, 'transaction_date':'2024-01-10', 'transcation_amount':50.0},
       {'transaction_id':102, 'transaction_date':'2024-02-15', 'transcation_amount':100.0}]),
 (2, [{'transaction_id':103, 'transaction_date':'2024-03-01', 'transcation_amount':75.0}]),
  (3, [{'transaction_id':104, 'transaction_date':'2024-12-20', 'transcation_amount':120.0},
       {'transaction_id':105, 'transaction_date':'2024-01-25', 'transcation_amount':200.0},
       {'transaction_id':106, 'transaction_date':'2024-02-10', 'transcation_amount':00.0}]),

]

In [0]:
df = spark.createDataFrame(data,schema)
df.show(truncate = False)

+-----------+----------------------------------------------------------------------------+
|customer_id|transactions                                                                |
+-----------+----------------------------------------------------------------------------+
|1          |[{101, 2024-01-10, 50.0}, {102, 2024-02-15, 100.0}]                         |
|2          |[{103, 2024-03-01, 75.0}]                                                   |
|3          |[{104, 2024-12-20, 120.0}, {105, 2024-01-25, 200.0}, {106, 2024-02-10, 0.0}]|
+-----------+----------------------------------------------------------------------------+

In [0]:
# Explode the transactions array
explode_df = df.withColumn('docs', explode(col('transactions')))\
    .select('customer_id',
            col('docs.transaction_date').alias('transaction_date'),  # Correct field name
            col('docs.transcation_amount').alias('transaction_amount'))  # Correct field name

explode_df.show()

+-----------+----------------+------------------+
|customer_id|transaction_date|transaction_amount|
+-----------+----------------+------------------+
|          1|      2024-01-10|              50.0|
|          1|      2024-02-15|             100.0|
|          2|      2024-03-01|              75.0|
|          3|      2024-12-20|             120.0|
|          3|      2024-01-25|             200.0|
|          3|      2024-02-10|               0.0|
+-----------+----------------+------------------+

In [0]:
# Perform aggregation
result_df = explode_df.groupBy('customer_id')\
    .agg(
        count('transaction_amount').alias('transaction_count'),
        sum('transaction_amount').alias('total_transaction_amount'),
        max('transaction_date').alias('max_transaction_date')
    )

result_df.show()

+-----------+-----------------+------------------------+--------------------+
|customer_id|transaction_count|total_transaction_amount|max_transaction_date|
+-----------+-----------------+------------------------+--------------------+
|          1|                2|                   150.0|          2024-02-15|
|          2|                1|                    75.0|          2024-03-01|
|          3|                3|                   320.0|          2024-12-20|
+-----------+-----------------+------------------------+--------------------+