In [0]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType,ArrayType
from pyspark.sql.functions import col,array

In [0]:
data = [('Manoj',[30,30000]), ('Megha',[27,40000]),('Manasa',[32,35000]),('Naveen',[34,38500]),('Vikky',[3,3000])]
#schema = ['Name','Age_Salary']

schema = StructType().add(field = 'Name',data_type = StringType())\
                    .add(field = 'Age_salary', data_type = ArrayType(IntegerType()))

In [0]:
df = spark.createDataFrame(data, schema)
df.show()
df.printSchema()

+------+-----------+
|  Name| Age_salary|
+------+-----------+
| Manoj|[30, 30000]|
| Megha|[27, 40000]|
|Manasa|[32, 35000]|
|Naveen|[34, 38500]|
| Vikky|  [3, 3000]|
+------+-----------+

root
 |-- Name: string (nullable = true)
 |-- Age_salary: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In [0]:
df1 = df.withColumn('Age',col('Age_salary')[0])
df1.show()

+------+-----------+---+
|  Name| Age_salary|Age|
+------+-----------+---+
| Manoj|[30, 30000]| 30|
| Megha|[27, 40000]| 27|
|Manasa|[32, 35000]| 32|
|Naveen|[34, 38500]| 34|
| Vikky|  [3, 3000]|  3|
+------+-----------+---+