### createOrReplaceTempView()
- You can create a temporary view on DataFrame by using createOrReplaceTempView() and use SQL to select and manipulate data.
- Temp views are session scoped and cannot shared between the sessions.

In [0]:
from pyspark.sql.functions import *
data = [(1,'manoj','male',3000,'DE'),(2,'megha','female',4000,'QA'),(3,'Naveen','male',5000,'QA')]
schema = ['id','name','gender','salary','dept']
df = spark.createDataFrame(data,schema)

In [0]:
df.createOrReplaceTempView('employee')
df1= spark.sql('Select * from employee')
df1.show()

In [0]:
%sql
SELECT id, upper(name) from employee

### createOrReplaceGlobalTempView()
- To query these tables, we need to append global_temp.tablename
#### To view global temp tables
- spark.catalog.listTables('global_temp')
#### list tables from current session
- spark.catalog.listTables(saprk.catalog.currentDatabase())

In [0]:
from pyspark.sql.functions import *
data = [(1,'manoj','male',3000,'DE'),(2,'megha','female',4000,'QA'),(3,'Naveen','male',5000,'QA')]
schema = ['id','name','gender','salary','dept']
df3 = spark.createDataFrame(data,schema)

In [0]:
df3.createOrReplaceGlobalTempView('empGlobal')

df4 = spark.sql('SELECT * FROM global_temp.empGlobal')
df4 .show()

In [0]:
spark.catalog.listTables('global_temp')