#dataFrmae.transform()
- It is used to chain the custom transformations and this function retuns the new DataFrame after applying the specified transformations.

In [0]:
from pyspark.sql.functions import *
data = [(1,'manoj','male',3000,'DE'),(2,'megha','female',4000,'QA'),(3,'Naveen','male',5000,'QA')]
schema = ['id','name','gender','salary','dept']
df = spark.createDataFrame(data,schema)

In [0]:
df.withColumn('name',upper(df.name)).show()

In [0]:
def convertNametoUpper(df):
    return df.withColumn('name',upper(df.name))

def doubletheSalary(df):
    return df.withColumn('salary',df.salary * 2)

In [0]:
df1 = df.transform(convertNametoUpper)\
    .transform(doubletheSalary)
df1.show()

+---+------+------+------+----+
| id|  name|gender|salary|dept|
+---+------+------+------+----+
|  1| MANOJ|  male|  6000|  DE|
|  2| MEGHA|female|  8000|  QA|
|  3|NAVEEN|  male| 10000|  QA|
+---+------+------+------+----+

In [0]:
df2 = df1.transform(doubletheSalary)