In [0]:
from pyspark.sql.functions import *
data = [(1,'manoj','male',3000,'DE'),(2,'megha','female',4000,'QA'),(3,'Naveen','male',5000,'SE'),(4,'Manasa','female',6000,'Payroll'),(5,'vicky','male',13000,'DE'),(1,'Nikky','male',7000,'HR'),(1,'Hema','female',3000,'Payroll'),(1,'Sree','male',3000,'Payroll')]
schema = ['id','name','gender','salary','dept']
df = spark.createDataFrame(data,schema)
df.groupBy('dept').count().show()

+-------+-----+
|   dept|count|
+-------+-----+
|     DE|    2|
|     QA|    1|
|     SE|    1|
|Payroll|    3|
|     HR|    1|
+-------+-----+

In [0]:
df.groupBy('dept').agg(count('*').alias ('total_emps'),\
                       min('salary').alias('minimum_salary'),\
                       max('salary').alias('maxium_salary')).show()

+-------+----------+--------------+-------------+
|   dept|total_emps|minimum_salary|maxium_salary|
+-------+----------+--------------+-------------+
|     DE|         2|          3000|        13000|
|     QA|         1|          4000|         4000|
|     SE|         1|          5000|         5000|
|Payroll|         3|          3000|         6000|
|     HR|         1|          7000|         7000|
+-------+----------+--------------+-------------+