In [0]:
from pyspark.sql.functions import *
data = [(1,'manoj','male',3000,'DE'),(2,'megha','female',4000,'QA'),(3,'Naveen','male',5000,'SE'),(4,'Manasa','female',6000,'Payroll'),(5,'vicky','male',13000,'DE'),(1,'Nikky','male',7000,'HR'),(1,'Hema','female',3000,'Payroll'),(1,'Sree','male',3000,'Payroll')]
schema = ['id','name','gender','salary','dept']
df = spark.createDataFrame(data,schema)

In [0]:
df.groupBy(df.dept).count().show()

+-------+-----+
|   dept|count|
+-------+-----+
|     DE|    2|
|     QA|    1|
|     SE|    1|
|Payroll|    3|
|     HR|    1|
+-------+-----+

In [0]:
df.groupBy(df.dept).avg('salary').show()

+-------+-----------+
|   dept|avg(salary)|
+-------+-----------+
|     DE|     8000.0|
|     QA|     4000.0|
|     SE|     5000.0|
|Payroll|     4000.0|
|     HR|     7000.0|
+-------+-----------+

In [0]:
df.groupBy(df.dept).min('salary').show()

+-------+-----------+
|   dept|min(salary)|
+-------+-----------+
|     DE|       3000|
|     QA|       4000|
|     SE|       5000|
|Payroll|       3000|
|     HR|       7000|
+-------+-----------+

In [0]:
df.groupBy(df.dept).max('salary').show()

+-------+-----------+
|   dept|max(salary)|
+-------+-----------+
|     DE|      13000|
|     QA|       4000|
|     SE|       5000|
|Payroll|       6000|
|     HR|       7000|
+-------+-----------+

In [0]:
df.groupBy(df.dept,df.gender).count().show()

+-------+------+-----+
|   dept|gender|count|
+-------+------+-----+
|     DE|  male|    2|
|     QA|female|    1|
|     SE|  male|    1|
|Payroll|female|    2|
|     HR|  male|    1|
|Payroll|  male|    1|
+-------+------+-----+