In [0]:
from pyspark.sql.functions import *
emp = [(1,'manoj','male',3000,1),(2,'megha','female',4000,2),(3,'Naveen','male',5000,2),(4,'Manasa','female',6000,4)]
dept = [(1,'DE'),(2,'QA'),(3,'Payroll')]
schema_emp = ['id','name','gender','salary','dept']
schema_dept = ['id','name']
emp_df = spark.createDataFrame(emp,schema_emp)
dept_df = spark.createDataFrame(dept,schema_dept)

In [0]:
emp_df.join(dept_df,emp_df.dept == dept_df.id).show() #INNER JOIN

+---+------+------+------+----+---+----+
| id|  name|gender|salary|dept| id|name|
+---+------+------+------+----+---+----+
|  1| manoj|  male|  3000|   1|  1|  DE|
|  2| megha|female|  4000|   2|  2|  QA|
|  3|Naveen|  male|  5000|   2|  2|  QA|
+---+------+------+------+----+---+----+

In [0]:
emp_df.join(dept_df,emp_df.dept == dept_df.id, 'left').show() #LEFT JOIN

+---+------+------+------+----+----+----+
| id|  name|gender|salary|dept|  id|name|
+---+------+------+------+----+----+----+
|  1| manoj|  male|  3000|   1|   1|  DE|
|  2| megha|female|  4000|   2|   2|  QA|
|  3|Naveen|  male|  5000|   2|   2|  QA|
|  4|Manasa|female|  6000|   4|null|null|
+---+------+------+------+----+----+----+

In [0]:
emp_df.join(dept_df,emp_df.dept == dept_df.id, 'right').show() #RIGHT JOIN

+----+------+------+------+----+---+-------+
|  id|  name|gender|salary|dept| id|   name|
+----+------+------+------+----+---+-------+
|   1| manoj|  male|  3000|   1|  1|     DE|
|   3|Naveen|  male|  5000|   2|  2|     QA|
|   2| megha|female|  4000|   2|  2|     QA|
|null|  null|  null|  null|null|  3|Payroll|
+----+------+------+------+----+---+-------+

In [0]:
emp_df.join(dept_df,emp_df.dept == dept_df.id, 'full').show() #FULL JOIN

+----+------+------+------+----+----+-------+
|  id|  name|gender|salary|dept|  id|   name|
+----+------+------+------+----+----+-------+
|   1| manoj|  male|  3000|   1|   1|     DE|
|   2| megha|female|  4000|   2|   2|     QA|
|   3|Naveen|  male|  5000|   2|   2|     QA|
|null|  null|  null|  null|null|   3|Payroll|
|   4|Manasa|female|  6000|   4|null|   null|
+----+------+------+------+----+----+-------+

In [0]:
#LEFTSEMI join similar to inner join but get columns only from left dataframe for matching rows.
emp_df.join(dept_df,emp_df.dept == dept_df.id, 'leftsemi').show() #LEFTSEMI JOIN

+---+------+------+------+----+
| id|  name|gender|salary|dept|
+---+------+------+------+----+
|  1| manoj|  male|  3000|   1|
|  2| megha|female|  4000|   2|
|  3|Naveen|  male|  5000|   2|
+---+------+------+------+----+

In [0]:
#LEFTANTI gets non matching reows from left DataFrame.
emp_df.join(dept_df,emp_df.dept == dept_df.id, 'leftanti').show() #LEFTSEMI JOIN

+---+------+------+------+----+
| id|  name|gender|salary|dept|
+---+------+------+------+----+
|  4|Manasa|female|  6000|   4|
+---+------+------+------+----+

In [0]:
#SLEF JOIN, joins data with same dataframe
data = [(1,'manoj',0),(2,'megha',1),(3,'naveen',2)]
schema = ['id','name','managerid']
df = spark.createDataFrame(data,schema)
df.alias('empData').join(df.alias('mgrData'),\
        col('empData.managerid') ==col ( 'mgrData.id')\
        ,'left')\
            .select (col('empData.name').alias('empName'),col('mgrData.name').alias('mgrName')).show()

+-------+-------+
|empName|mgrName|
+-------+-------+
|  manoj|   null|
|  megha|  manoj|
| naveen|  megha|
+-------+-------+