In [0]:
from pyspark.sql.functions import *
data = [(1,'manoj','male',3000,'DE'),(2,'megha','female',4000,'QA'),(3,'Naveen','male',5000,'SE'),(4,'Manasa','female',6000,'Payroll')]
schema = ['id','name','gender','salary','dept']
df = spark.createDataFrame(data,schema)
df.show()

+---+------+------+------+-------+
| id|  name|gender|salary|   dept|
+---+------+------+------+-------+
|  1| manoj|  male|  3000|     DE|
|  2| megha|female|  4000|     QA|
|  3|Naveen|  male|  5000|     SE|
|  4|Manasa|female|  6000|Payroll|
+---+------+------+------+-------+

In [0]:
df.sort(df.dept,df.id.asc()).show()

+---+------+------+------+-------+
| id|  name|gender|salary|   dept|
+---+------+------+------+-------+
|  1| manoj|  male|  3000|     DE|
|  4|Manasa|female|  6000|Payroll|
|  2| megha|female|  4000|     QA|
|  3|Naveen|  male|  5000|     SE|
+---+------+------+------+-------+

In [0]:
df.orderBy(df.dept.desc(),df.id.asc()).show()

+---+------+------+------+-------+
| id|  name|gender|salary|   dept|
+---+------+------+------+-------+
|  3|Naveen|  male|  5000|     SE|
|  2| megha|female|  4000|     QA|
|  4|Manasa|female|  6000|Payroll|
|  1| manoj|  male|  3000|     DE|
+---+------+------+------+-------+