Pivot is used to rotate data in one column into multiple columns.
It is an aggregation where one of the grouping column values will be conerted into multiple values.

In [0]:
data = [(1,'manoj','male',3000,'DE'),(2,'megha','female',4000,'QA'),(3,'Naveen','male',5000,'QA'),(4,'Manasa','female',6000,'Payroll'),(5,'manoj','male',3000,'DE'),(6,'megha','female',4000,'QA'),(7,'Naveen','male',5000,'QA'),(8,'Manasa','female',6000,'Payroll')]
schema = ['id','name','gender','salay','dept']
df= spark.createDataFrame(data,schema)

In [0]:
df.groupBy(df.dept,df.gender).count().show()

+-------+------+-----+
|   dept|gender|count|
+-------+------+-----+
|     DE|  male|    2|
|     QA|female|    2|
|     QA|  male|    2|
|Payroll|female|    2|
+-------+------+-----+

In [0]:
df.groupBy('dept').pivot('gender').count().show()
df.groupBy('dept').pivot('gender',['male']).count().show()

+-------+------+----+
|   dept|female|male|
+-------+------+----+
|Payroll|     2|null|
|     DE|  null|   2|
|     QA|     2|   2|
+-------+------+----+

+-------+----+
|   dept|male|
+-------+----+
|Payroll|null|
|     DE|   2|
|     QA|   2|
+-------+----+

Unpioting is rotating columns into rows. Pyspark SQL doesn't have unpivot function hence we will use stack() function.

In [0]:
data = [('IT',8,5), ('Payroll',3,4),('HR',4,3)]
schema = ['dept','male','female']
df = spark.createDataFrame(data,schema)

In [0]:

from pyspark.sql.functions import expr
df.select( 'dept',expr("stack(2,'Male',male,'Female',female)as (gender, count)")).show()

+-------+------+-----+
|   dept|gender|count|
+-------+------+-----+
|     IT|  Male|    8|
|     IT|Female|    5|
|Payroll|  Male|    3|
|Payroll|Female|    4|
|     HR|  Male|    4|
|     HR|Female|    3|
+-------+------+-----+