In [0]:

from pyspark.sql.functions import *
data = [(1,'manoj','male',3000,'DE'),(2,'megha','female',4000,'QA'),(3,'Naveen','male',5000,'QA'),(4,'Manasa','female',6000,'Payroll')]
schema = ['id','name','gender','salary','dept']
df = spark.createDataFrame(data,schema)

In [0]:
 #select single or multiple columns
 df.select('id','dept').show()
 df.select(df.name).show()

In [0]:
#using col() function
df.select(col('id'),col('name')).show()
df.select(['id','salary']).show()

In [0]:
df.select([col for  col in df.columns]).show()

+---+------+------+------+-------+
| id|  name|gender|salary|   dept|
+---+------+------+------+-------+
|  1| manoj|  male|  3000|     DE|
|  2| megha|female|  4000|     QA|
|  3|Naveen|  male|  5000|     QA|
|  4|Manasa|female|  6000|Payroll|
+---+------+------+------+-------+