In [0]:
#UnionByName lets you merge/union 2 DataFrames witha a different number of columns(different schema) by passing allowMissingColumns with the value true.

In [0]:
from pyspark.sql.functions import *
data = [(1,'manoj','male',3000),(2,'megha','female',4000)]
data1 = [(2,'megha',4000,'QA'),(3,'Naveen',5000,'SE'),(4,'Manasa',6000,'Payroll')]
schema = ['id','name','gender','salary']
schema2 = ['id','name','salary','dept']
df = spark.createDataFrame(data,schema)
df1= spark.createDataFrame(data1,schema2)

In [0]:
df.union(df1).show()

+---+------+------+-------+
| id|  name|gender| salary|
+---+------+------+-------+
|  1| manoj|  male|   3000|
|  2| megha|female|   4000|
|  2| megha|  4000|     QA|
|  3|Naveen|  5000|     SE|
|  4|Manasa|  6000|Payroll|
+---+------+------+-------+

In [0]:
#unionByName
df.unionByName(df1, allowMissingColumns = True).show()

+---+------+------+------+-------+
| id|  name|gender|salary|   dept|
+---+------+------+------+-------+
|  1| manoj|  male|  3000|   null|
|  2| megha|female|  4000|   null|
|  2| megha|  null|  4000|     QA|
|  3|Naveen|  null|  5000|     SE|
|  4|Manasa|  null|  6000|Payroll|
+---+------+------+------+-------+